@page "/"

<h1>Blazor Top App Bar</h1>
<h2 class="pl-5">by <img src="mobsites-logo.png" width="42" height="42" />obsites</h2>
<br />
<p>
    <b>
        NOTE: <small><i>This demonstrates the use of this component without a dependency on another MDC based component. 
        We, of course, recommend using our other MDC based components in conjunction with this component
        as they work seamlessly together, not to mention there are less css adjustments to incorporate.
        But if you want to go solo, check out the demo's source code</i> <a target="_blank" href="https://github.com/Mobsites/Blazor.TopAppBar/tree/master/demo">here</a>
        for one approach.</small>
    </b>
</p>
<form>
  <div class="row">
    <div class="col col-md-6 col-lg-4">
      <div class="form-group">
        <label for="variant">Select Variant</label>
        <select class="form-control" id="variant" @oninput="@((e) => MainLayout.Variant = Enum.Parse<TopAppBar.Variants>(e.Value as string))">
          <option value="@TopAppBar.Variants.Standard" selected=@(MainLayout.Variant == TopAppBar.Variants.Standard ? true : false)>Standard</option>
          <option value="@TopAppBar.Variants.Fixed" selected=@(MainLayout.Variant == TopAppBar.Variants.Fixed ? true : false)>Fixed</option>
          <option value="@TopAppBar.Variants.Prominent" selected=@(MainLayout.Variant == TopAppBar.Variants.Prominent ? true : false)>Prominent</option>
          <option value="@TopAppBar.Variants.FixedProminent" selected=@(MainLayout.Variant == TopAppBar.Variants.FixedProminent ? true : false)>Fixed Prominent</option>
          <option value="@TopAppBar.Variants.Dense" selected=@(MainLayout.Variant == TopAppBar.Variants.Dense ? true : false)>Dense</option>
          <option value="@TopAppBar.Variants.FixedDense" selected=@(MainLayout.Variant == TopAppBar.Variants.FixedDense ? true : false)>Fixed Dense</option>
          <option value="@TopAppBar.Variants.ProminentDense" selected=@(MainLayout.Variant == TopAppBar.Variants.ProminentDense ? true : false)>Prominent Dense</option>
          <option value="@TopAppBar.Variants.FixedProminentDense" selected=@(MainLayout.Variant == TopAppBar.Variants.FixedProminentDense ? true : false)>Fixed Prominent Dense</option>
          <option value="@TopAppBar.Variants.Short" selected=@(MainLayout.Variant == TopAppBar.Variants.Short ? true : false)>Short</option>
          <option value="@TopAppBar.Variants.ShortAlways" selected=@(MainLayout.Variant == TopAppBar.Variants.ShortAlways ? true : false)>Short Always</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col col-md-6 col-lg-4">
        <div class="form-group form-check">
            <input checked type="checkbox" class="form-check-input" id="keep-state" disabled />
            <label class="form-check-label" for="keep-state">Keep State</label>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-6 col-lg-4">
        <div class="form-group">
            <label for="brand-title">Change Title</label>
            <input class="form-control" id="brand-title" type="text" value="@MainLayout.BrandTitle" @oninput="@((e) => MainLayout.BrandTitle = e.Value as string)" />
        </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col col-md-6 col-lg-4">
        <div class="form-group form-check">
            <input checked=@MainLayout.UseBrandImage type="checkbox" class="form-check-input" id="use-brand-image" @onchange="@((e) => MainLayout.UseBrandImage = (bool)(e.Value as bool?))" />
            <label class="form-check-label" for="use-brand-image">Use brand image</label>
        </div>
    </div>
  </div>
  <div class="row">
        <div class="col col-sm-8 col-xl-4">
            <b>On small devices:</b>
            <ul class="list-unstyled pl-4 mt-2">
                <li>
                    <div class="form-group form-check">
                        <input checked=@MainLayout.HideBrandTitle type="checkbox" class="form-check-input" id="hide-brand-title" @onchange="@((e) => MainLayout.HideBrandTitle = (bool)(e.Value as bool?))" />
                        <label class="form-check-label" for="hide-brand-title">Hide brand title</label>
                    </div>
                </li>
                <li>
                    <div class="form-group form-check">
                        <input checked=@MainLayout.HideBrandImage type="checkbox" class="form-check-input" id="hide-brand-image" @onchange="@((e) => MainLayout.HideBrandImage = (bool)(e.Value as bool?))" />
                        <label class="form-check-label" for="hide-brand-image">Hide brand image</label>
                    </div>
                </li>
                <li>
                    <div class="form-group form-check">
                        <input checked=@MainLayout.ShowActionsAlways type="checkbox" class="form-check-input" id="show-actions-always" @onchange="@((e) => MainLayout.ShowActionsAlways = (bool)(e.Value as bool?))" />
                        <label class="form-check-label" for="show-actions-always">Show all actions</label>
                    </div>
                </li>
                <li>
                    <div class="form-group form-check">
                        <input checked=@MainLayout.ScrollToTop type="checkbox" class="form-check-input" id="scrolll-to-top" @onchange="@((e) => MainLayout.ScrollToTop = (bool)(e.Value as bool?))" />
                        <label class="form-check-label" for="scrolll-to-top">Scroll to top of page when nav icon is clicked</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  <div class="row">
        <div class="col col-sm-8 col-xl-4">
            <b>Background:</b>
            <div class="pt-2 pl-4">
                <div class="form-group form-check">
                    <input checked=@MainLayout.UseDarkMode type="radio" class="form-check-input" id="dark-mode" @onchange="@((e) => { MainLayout.UseDarkMode = true; MainLayout.UseLightMode = false; })" />
                    <label class="form-check-label" for="dark-mode">Dark Mode</label>
                </div>
                <div class="form-group form-check">
                    <input checked=@MainLayout.UseLightMode type="radio" class="form-check-input" id="light-mode" @onchange="@((e) => { MainLayout.UseDarkMode = false; MainLayout.UseLightMode = true; })" />
                    <label class="form-check-label" for="light-mode">Light Mode</label>
                </div>
                <div class="form-group form-check">
                    <input checked=@(!MainLayout.UseDarkMode && !MainLayout.UseLightMode) type="radio" class="form-check-input" id="normal-mode" @onchange="@((e) => { MainLayout.UseDarkMode = false; MainLayout.UseLightMode = false; })" />
                    <label class="form-check-label" for="normal-mode">Normal Mode</label>
                </div>
                <div class="form-group">
                    <label for="top-app-bar-type">Direction</label>
                    <select class="form-control" 
                        id="top-app-bar-type" 
                        @oninput="@((e) => MainLayout.BackgroundColorDirection = Enum.Parse<BackgroundColorDirections>(e.Value as string))">
                        <option value="@BackgroundColorDirections.TopToBottom" selected=@(MainLayout.BackgroundColorDirection == BackgroundColorDirections.TopToBottom ? true : false)>Top To Bottom</option>
                        <option value="@BackgroundColorDirections.BottomToTop" selected=@(MainLayout.BackgroundColorDirection == BackgroundColorDirections.BottomToTop ? true : false)>Bottom To Top</option>
                        <option value="@BackgroundColorDirections.LeftToRight" selected=@(MainLayout.BackgroundColorDirection == BackgroundColorDirections.LeftToRight ? true : false)>Left To Right</option>
                        <option value="@BackgroundColorDirections.RightToLeft" selected=@(MainLayout.BackgroundColorDirection == BackgroundColorDirections.RightToLeft ? true : false)>Right To Left</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-8 col-xl-4">
            <div class="form-group pl-4">
                <label for="start-color">Start Color (name, rgb, or hex)</label>
                <input class="form-control" 
                    id="start-color" 
                    type="text" 
                    value="@MainLayout.BackgroundColorStart" 
                    @onchange="@((e) => MainLayout.BackgroundColorStart = e.Value as string)"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-8 col-xl-4">
            <div class="form-group pl-4">
                <label for="end-color">End Color (name, rgb, or hex)</label>
                <input class="form-control" 
                    id="end-color" 
                    type="text" 
                    value="@MainLayout.BackgroundColorEnd" 
                    @onchange="@((e) => MainLayout.BackgroundColorEnd = e.Value as string)"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-8 col-xl-4">
            <div class="form-group pl-4">
                <label for="end-color">Text Color (name, rgb, or hex)</label>
                <input class="form-control" 
                    id="end-color" 
                    type="text" 
                    value="@MainLayout.Color" 
                    @onchange="@((e) => MainLayout.Color = e.Value as string)"/>
            </div>
        </div>
    </div>
</form>
<br />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.
</p>

@code {
    [CascadingParameter] MainLayout MainLayout { get; set; }
}