@inherits ChildComponent<TopAppBar>

<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start @Class" style="@Style" @attributes="@ExtraAttributes">
    @ChildContent
    @if (!(string.IsNullOrEmpty(BrandTitle) && !UseIcon))
    {
        <span class="mdc-top-app-bar__title">
            @if (UseIcon)
            {
                <img src="@Icon" width="@IconWidth" height="@IconHeight" class="@(HideIcon ? "mdc-top-app-bar-hide" : string.Empty)" />
            }
            <span class="@(HideBrandTitle ? "mdc-top-app-bar-hide" : string.Empty)">@BrandTitle</span>
        </span>
    }
</section>